<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.16" targetFramework="net45" />
  <package id="NAudio" version="1.10.0" targetFramework="net45" />
  <package id="NAudio.Lame" version="1.1.1" targetFramework="net45" />
  <package id="stdole" version="7.0.3303" targetFramework="net45" />
  <package id="WMPLib" version="1.0.0" targetFramework="net45" developmentDependency="true" />
</packages>